
:root {
    --lightergrey: #ccc;
    --lightgrey: #999;
    --darkgrey: #666;
    --darkergrey: #333;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    height: 100%;
    position: relative;

    &.locked {
        overflow-y: hidden;
    }
}

h1,h2,h3,h4 {
    font-weight: 300;
    margin-bottom: .75em;
    color: var(--darkgrey);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.25em;
    font-weight: 600;
    color: var(--darkergrey);
}

p {
    line-height: 1.75em;
    margin-bottom: 1em;
    font-weight: 400;

    &+ h2, &+ h3, &+ h4 {
        margin-top: 1em;
    }
}

#logo {
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    font-size: 72px;
    font-style: normal;
    margin: 0 0 50px -100px;
}

.container {
    box-sizing: border-box;
    padding: 0 32px;
    max-width: 1000px;
    width: auto;
    margin: 0 auto;
}

#last_update {
    font-weight: 300;
    font-size: .9em;
    font-style: italic;
    margin-bottom: 2em;
    color: var(--lightgray);
}

#skills_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 25px 0 25px 100px;

    li {
        line-height: 1.75em;
        position : relative;
        width: 30%;

        &:before {
            content: '\2022';
            font-size: 24px;
            color: #999;
            position: absolute;
            left: -20px;
            line-height: 1em;
        }
    }

    &:after {
        content: "";
        display: block;
        width: 30%;
    }
}

#portfolio-items {

    .portfolio-section {
        
        .portfolio-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 50px;

            &+.portfolio-item {
                padding-top: 50px;
                border-style: solid;
                border-width: 1px 0 0 0;
                border-color: #999;
            }

            .portfolio-item-image {
                margin: 0 50px 0 0;

                img {
                    width: 375px;
                    height: 180px;
                    display: block;
                    object-fit: cover;
                    border: 1px solid #999;
                    box-shadow: 2px 2px 4px #999;
                }
            }
        }

    }
}

#home-carousel-section {
    margin: 50px auto;
    padding: 50px 0;
}

#portfolio-carousel {

    .caro-slides-div {
        
        .caro-slide {

            .caro-slide-content {

                img {
                    border: 1px solid var(--darkgrey);
                }

                .caro-description-btn {
                    border: 2px solid var(--darkergrey);
                    background-color: var(--darkergrey);

                    &:before {
                        font-family: "Libre Caslon Text", serif;
                        font-weight: 700;
                        font-size: 18px;
                        left: 11px;
                        top: 4px;
                    }

                    &.active {
                        background-color: #fff;
                        
                        &:before {
                            color: var(--darkergrey);
                        }
                    }
                }
            }
        }
    }

    .caro-dir-btn {
        color: var(--darkergrey);
    }

    .caro-categories-div {

        button {
            color: var(--lightgrey);
            border: 2px solid var(--lightgrey);

            &.active {
                border-color: var(--darkgrey);
                color: var(--darkgrey);
            }

            &:hover {
                color: #fff;
                background: var(--lightgrey);
                border-color: var(--lightgrey);
            }
        }
    }

    .caro-dots-div {

        .caro-dot {
            background-color: var(--lightergrey);

            &.active {
                background-color: var(--darkgrey);
            }
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(51,51,51,.75);
    background: radial-gradient(circle, rgba(51,51,51,.75) 0%, rgba(0,0,0,.75) 100%);

    &.active {
        display: flex;
    }
}

#page-overlay-btn {
    border: 1px solid var(--darkergrey);
    background-color: var(--darkergrey);
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 30px;
    position: relative;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        margin: 0;
        padding: 0;
    }
}

.simple-button {
    border: 1px solid var(--darkergrey);
    background-color: var(--darkergrey);
    color: #fff;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 24px;
    cursor: pointer;
}

#page-overlay-btn{
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1100;
}

#mobile-description-btn {
    display: none;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    width: 175px;
    bottom: -75px;
}

.mobile-description {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    p {
        width: 90%;
    }

    a {
        color: #fff;
    }
}

#footer-links {
    padding: 32px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        margin: 0 32px;
    }
}

@media screen and (max-width: 1175px) {
    #logo {
        margin: 0 0 50px 0px;
    }
}

@media screen and (max-width: 875px) {

    #skills_list {

        li {
            width: 45%;
        }
    
        &:after {
            display: none;
            width: 0px;
        }
    }
}

@media screen and (max-width: 760px) {
    #logo {
        font-size: 48px;
        margin: 0 0 30px 0px;
    }

    #skills_list {

        li {
            width: 100%;
        }
    }

    #home-carousel-section {
        padding: 50px 0 150px 0;
    }

    #portfolio-carousel {

        .caro-display-div {
            width: 100%;
            padding: 0 0 44% 0;
        }

        .caro-dir-btn {
            bottom: -75px;
            top: auto;
            height: 50px;
    
            &.caro-left {
                left: calc(50% - 75px);
            }
    
            &.caro-right {
                right: calc(50% - 75px);
            }
        }

        .caro-dots-div {
            bottom: -125px;
        }

        .caro-categories-div {
            left: 0;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
    }
}

@media screen and (max-width: 500px) {
    #logo {
        font-size: 36px;
    }
}