
:root {
    --lightgrey: #999;
    --darkgrey: #666;
    --darkergrey: #333;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
}

h1,h2,h3,h4 {
    font-weight: 300;
    margin-bottom: .75em;
    color: var(--darkgrey);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.25em;
    font-weight: 600;
    color: var(--darkergrey);
}

p {
    line-height: 1.75em;
    margin-bottom: 1em;
    font-weight: 400;

    &+ h2, &+ h3, &+ h4 {
        margin-top: 1em;
    }
}

#logo {
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    font-size: 72px;
    font-style: normal;
    margin: 0 0 50px -100px;
}

.container {
    box-sizing: border-box;
    padding: 0 32px;
    max-width: 1000px;
    width: auto;
    margin: 0 auto;
}

#last_update {
    font-weight: 300;
    font-size: .9em;
    font-style: italic;
    margin-bottom: 2em;
    color: var(--lightgray);
}

#skills_list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 25px 0 25px 100px;

    li {
        line-height: 1.75em;
        position : relative;
        width: 30%;

        &:before {
            content: '\2022';
            font-size: 24px;
            color: #999;
            position: absolute;
            left: -20px;
            line-height: 1em;
        }
    }

    &:after {
        content: "";
        display: block;
        width: 30%;
    }
}

#portfolio-items {

    .portfolio-section {
        
        .portfolio-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 50px;

            &+.portfolio-item {
                padding-top: 50px;
                border-style: solid;
                border-width: 1px 0 0 0;
                border-color: #999;
            }

            .portfolio-item-image {
                margin: 0 50px 0 0;

                img {
                    width: 375px;
                    height: 180px;
                    display: block;
                    object-fit: cover;
                    border: 1px solid #999;
                    box-shadow: 2px 2px 4px #999;
                }
            }
        }

    }
}

#portfolio-carousel {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    .caro-display-div {
        max-width: 800px;
        height: 400px;
    }

    .caro-slides-div {
        transition: transform 1.5s ease-in-out;

        .caro-slide {
            width: 800px;
        }
    }
}

@media screen and (max-width: 1175px) {
    #logo {
        margin: 0 0 50px 0px;
    }
}

@media screen and (max-width: 875px) {

    #skills_list {

        li {
            width: 45%;
        }
    
        &:after {
            display: none;
            width: 0px;
        }
    }

    #portfolio-items {

        .portfolio-section {
            
            .portfolio-item {
                flex-direction: column-reverse;
                align-items: center;

                .portfolio-item-content {
                    width: 100%;
                }

                .portfolio-item-image {
                    margin: 50px 0 0 0; 
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    #logo {
        font-size: 48px;
        margin: 0 0 30px 0px;
    }

    #skills_list {

        li {
            width: 100%;
        }
    }
}

@media screen and (max-width: 500px) {
    #logo {
        font-size: 36px;
    }
}