@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --lightergrey: #ccc;
  --lightgrey: #999;
  --darkgrey: #666;
  --darkergrey: #333;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18px;
  height: 100%;
  position: relative;
}
body.locked {
  overflow-y: hidden;
}

h1, h2, h3, h4 {
  font-weight: 300;
  margin-bottom: 0.75em;
  color: var(--darkgrey);
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.25em;
  font-weight: 600;
  color: var(--darkergrey);
}

p {
  line-height: 1.75em;
  margin-bottom: 1em;
  font-weight: 400;
}
p + h2, p + h3, p + h4 {
  margin-top: 1em;
}

#logo {
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-size: 72px;
  font-style: normal;
  margin: 0 0 50px -100px;
}

.container {
  box-sizing: border-box;
  padding: 0 32px;
  max-width: 1000px;
  width: auto;
  margin: 0 auto;
}

#last_update {
  font-weight: 300;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 2em;
  color: var(--lightgray);
}

#skills_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 25px 0 25px 100px;
}
#skills_list li {
  line-height: 1.75em;
  position: relative;
  width: 30%;
}
#skills_list li:before {
  content: "•";
  font-size: 24px;
  color: #999;
  position: absolute;
  left: -20px;
  line-height: 1em;
}
#skills_list:after {
  content: "";
  display: block;
  width: 30%;
}

#portfolio-items .portfolio-section .portfolio-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}
#portfolio-items .portfolio-section .portfolio-item + .portfolio-item {
  padding-top: 50px;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #999;
}
#portfolio-items .portfolio-section .portfolio-item .portfolio-item-image {
  margin: 0 50px 0 0;
}
#portfolio-items .portfolio-section .portfolio-item .portfolio-item-image img {
  width: 375px;
  height: 180px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #999;
  box-shadow: 2px 2px 4px #999;
}

#portfolio-carousel {
  margin: 50px auto;
}
#portfolio-carousel .caro-slides-div .caro-slide .caro-slide-content img {
  border: 1px solid var(--darkgrey);
}
#portfolio-carousel .caro-slides-div .caro-slide .caro-slide-content .caro-description-btn {
  border: 2px solid var(--darkergrey);
  background-color: var(--darkergrey);
}
#portfolio-carousel .caro-slides-div .caro-slide .caro-slide-content .caro-description-btn:before {
  font-family: "Libre Caslon Text", serif;
  font-weight: 700;
  font-size: 18px;
  left: 11px;
  top: 4px;
}
#portfolio-carousel .caro-slides-div .caro-slide .caro-slide-content .caro-description-btn.active {
  background-color: #fff;
}
#portfolio-carousel .caro-slides-div .caro-slide .caro-slide-content .caro-description-btn.active:before {
  color: var(--darkergrey);
}
#portfolio-carousel .caro-dir-btn {
  color: var(--darkergrey);
}
#portfolio-carousel .caro-categories-div button {
  color: var(--lightgrey);
  border: 2px solid var(--lightgrey);
}
#portfolio-carousel .caro-categories-div button.active {
  border-color: var(--darkgrey);
  color: var(--darkgrey);
}
#portfolio-carousel .caro-categories-div button:hover {
  color: #fff;
  background: var(--lightgrey);
  border-color: var(--lightgrey);
}
#portfolio-carousel .caro-dots-div .caro-dot {
  background-color: var(--lightergrey);
}
#portfolio-carousel .caro-dots-div .caro-dot.active {
  background-color: var(--darkgrey);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.75);
  background: radial-gradient(circle, rgba(51, 51, 51, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%);
}
.overlay.active {
  display: flex;
}

#page-overlay-btn {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 1100;
}

#mobile-description-btn {
  display: none;
}

.mobile-description {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
}

@media screen and (max-width: 1175px) {
  #logo {
    margin: 0 0 50px 0px;
  }
}
@media screen and (max-width: 875px) {
  #skills_list li {
    width: 45%;
  }
  #skills_list:after {
    display: none;
    width: 0px;
  }
}
@media screen and (max-width: 760px) {
  #logo {
    font-size: 48px;
    margin: 0 0 30px 0px;
  }
  #skills_list li {
    width: 100%;
  }
  #portfolio-carousel {
    margin: 100px auto;
  }
  #portfolio-carousel .caro-display-div {
    width: 100%;
  }
  #portfolio-carousel .caro-dir-btn {
    bottom: -50px;
    top: auto;
    height: 50px;
  }
  #portfolio-carousel .caro-dir-btn.caro-left {
    left: calc(50% - 75px);
  }
  #portfolio-carousel .caro-dir-btn.caro-right {
    right: calc(50% - 75px);
  }
  #portfolio-carousel .caro-dots-div {
    bottom: -100px;
  }
  #portfolio-carousel .caro-categories-div {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  #mobile-description-btn {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  #logo {
    font-size: 36px;
  }
}
.carousel {
  width: 100%;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
}
.carousel .caro-display-div {
  position: relative;
  width: calc(100% - 100px);
  padding: 0 0 46% 0;
  overflow: hidden;
  z-index: 100;
  margin: 0 auto;
}
.carousel .caro-slides-div {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  transition: transform 1.5s ease-in-out;
}
.carousel .caro-slides-div.inactive {
  transition: none;
}
.carousel .caro-slides-div .caro-slide {
  box-sizing: border-box;
  padding: 0 25px;
  width: 100%;
  display: inline-block;
  margin: 0;
  position: relative;
}
.carousel .caro-slides-div .caro-slide .caro-slide-content {
  position: relative;
}
.carousel .caro-slides-div .caro-slide .caro-slide-content img {
  display: block;
  width: 100%;
}
.carousel .caro-slides-div .caro-slide .caro-slide-content .caro-description {
  display: flex;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  position: absolute;
  white-space: normal;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(51, 51, 51, 0.75);
  background: radial-gradient(circle, rgba(51, 51, 51, 0.75) 0%, rgba(0, 0, 0, 0.75) 100%);
}
.carousel .caro-slides-div .caro-slide .caro-slide-content .caro-description.active {
  opacity: 1;
}
.carousel .caro-slides-div .caro-slide .caro-slide-content .caro-description p {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
  text-align: center;
  width: 90%;
}
.carousel .caro-slides-div .caro-slide .caro-slide-content .caro-description-btn {
  position: absolute;
  top: 10px;
  right: 35px;
  width: 32px;
  height: 32px;
  border: 2px solid #000;
  border-radius: 16px;
  text-align: center;
  background-color: #000;
  outline: none;
  font-size: 0;
  color: #fff;
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}
.carousel .caro-slides-div .caro-slide .caro-slide-content .caro-description-btn:before {
  content: "i";
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  position: absolute;
  left: 7px;
  top: 7px;
}
.carousel .caro-slides-div .caro-slide .caro-slide-content .caro-description-btn.active {
  background-color: #fff;
}
.carousel .caro-slides-div .caro-slide .caro-slide-content .caro-description-btn.active:before {
  color: #000;
}
.carousel .caro-dir-btn {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50px;
  box-sizing: border-box;
  padding: 0;
  height: 100%;
  top: 0;
  z-index: 500;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 42px;
}
.carousel .caro-dir-btn.caro-left {
  left: 0;
  justify-content: left;
  padding-left: 10px;
}
.carousel .caro-dir-btn.caro-right {
  right: 0;
  justify-content: right;
  padding-right: 10px;
}
.carousel .caro-categories-div {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: right;
  right: 0;
  top: -75px;
  z-index: 500;
}
.carousel .caro-categories-div button {
  font-size: 24px;
  color: #666;
  border: 2px solid #666;
  border-radius: 18px;
  background: transparent;
  padding: 5px 15px;
  cursor: pointer;
}
.carousel .caro-categories-div button.active {
  border-color: #000;
  color: #000;
}
.carousel .caro-categories-div button + button {
  margin-left: 24px;
}
.carousel .caro-categories-div button:hover {
  color: #fff;
  background: #000;
  border-color: #000;
}
.carousel .caro-dots-div {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 100;
  padding: 16px 0;
  margin: 0 auto;
  z-index: 500;
}
.carousel .caro-dots-div .caro-dot {
  width: 12px;
  height: 12px;
  padding: 0;
  border: none;
  border-radius: 6px;
  margin: 0 12px;
  background-color: #666;
  transition: background-color 0.25s ease-in-out;
}
.carousel .caro-dots-div .caro-dot.active {
  background-color: #333;
}/*# sourceMappingURL=styles.css.map */